<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Domain checker</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="domain" type="text" class="ghost-input" placeholder="Enter a Domain Name" required>
          <input type="submit" class="ghost-button" value="Search">
        </form>
        <% if(domains !== null){ %> 
          <div style="display: flex; flex-wrap: wrap;">
          <% for (var i = 0; i < domains.length; i++) { %>
            <div style="width: 100%; padding: 10px; margin: 5px; border: 1px solid black">
              <b>Domain:</b> <%= domains[i].domain %>
              <br />
              <b>Created On:</b> <%= domains[i].createdOn %>
              <br />
              <b>Is Active:</b> <%= domains[i].isActive %>
              <br />
              <b>Country:</b> <%= domains[i].country %>
            </div>
          <% } %>
          </div>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
